In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt





data = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
area = data['Area']
area

0         Algeria
1         Algeria
2         Algeria
3         Algeria
4         Algeria
           ...
60938    Zimbabwe
60939    Zimbabwe
60940    Zimbabwe
60941    Zimbabwe
60942    Zimbabwe
Name: Area, Length: 60943, dtype: object

In [ ]:
data.groupby('Element')['Y2017'].sum()['Processing']

292836.0

In [ ]:
num = data.isnull()['Y2014'].sum()
full = data.shape[0]
percent = num * 100 / full
print(num, percent)

1589 2.6073544131401474 60943

In [ ]:
data.groupby('Area')["Item"].sum()

Area
Algeria                        PopulationPopulationGrand TotalGrand TotalGran...
Angola                         PopulationPopulationGrand TotalGrand TotalGran...
Benin                          PopulationPopulationGrand TotalGrand TotalGran...
Botswana                       PopulationPopulationGrand TotalGrand TotalGran...
Burkina Faso                   PopulationPopulationGrand TotalGrand TotalGran...
Cabo Verde                     PopulationPopulationGrand TotalGrand TotalGran...
Cameroon                       PopulationPopulationGrand TotalGrand TotalGran...
Central African Republic       PopulationPopulationGrand TotalGrand TotalGran...
Chad                           PopulationPopulationGrand TotalGrand TotalGran...
Comoros                        Fish, Body OilFish, Body OilFish, Body OilFish...
Congo                          PopulationPopulationGrand TotalGrand TotalGran...
Côte d'Ivoire                  PopulationPopulationGrand TotalGrand TotalGran...
Djibouti                       PopulationPopulationGrand TotalGrand TotalGran...
Egypt                          PopulationPopulationGrand TotalGrand TotalGran...
Eswatini                       PopulationPopulationGrand TotalGrand TotalGran...
Ethiopia                       PopulationPopulationGrand TotalGrand TotalGran...
Ethiopia PDR                   Fish, Liver OilFish, Liver OilFish, Liver OilF...
Gabon                          PopulationPopulationGrand TotalGrand TotalGran...
Gambia                         PopulationPopulationGrand TotalGrand TotalGran...
Ghana                          PopulationPopulationGrand TotalGrand TotalGran...
Guinea                         PopulationPopulationGrand TotalGrand TotalGran...
Guinea-Bissau                  PopulationPopulationGrand TotalGrand TotalGran...
Kenya                          PopulationPopulationGrand TotalGrand TotalGran...
Lesotho                        PopulationPopulationGrand TotalGrand TotalGran...
Liberia                        PopulationPopulationGrand TotalGrand TotalGran...
Madagascar                     PopulationPopulationGrand TotalGrand TotalGran...
Malawi                         PopulationPopulationGrand TotalGrand TotalGran...
Mali                           PopulationPopulationGrand TotalGrand TotalGran...
Mauritania                     PopulationPopulationGrand TotalGrand TotalGran...
Mauritius                      PopulationPopulationGrand TotalGrand TotalGran...
Morocco                        PopulationPopulationGrand TotalGrand TotalGran...
Mozambique                     PopulationPopulationGrand TotalGrand TotalGran...
Namibia                        PopulationPopulationGrand TotalGrand TotalGran...
Niger                          PopulationPopulationGrand TotalGrand TotalGran...
Nigeria                        PopulationPopulationGrand TotalGrand TotalGran...
Rwanda                         PopulationPopulationGrand TotalGrand TotalGran...
Sao Tome and Principe          PopulationPopulationGrand TotalGrand TotalGran...
Senegal                        PopulationPopulationGrand TotalGrand TotalGran...
Seychelles                     Fish, Body OilFish, Body OilFish, Body OilFish...
Sierra Leone                   PopulationPopulationGrand TotalGrand TotalGran...
South Africa                   PopulationPopulationGrand TotalGrand TotalGran...
Sudan                          PopulationPopulationGrand TotalGrand TotalGran...
Sudan (former)                 Fish, Body OilFish, Body OilFish, Body OilFish...
Togo                           PopulationPopulationGrand TotalGrand TotalGran...
Tunisia                        PopulationPopulationGrand TotalGrand TotalGran...
Uganda                         PopulationPopulationGrand TotalGrand TotalGran...
United Republic of Tanzania    PopulationPopulationGrand TotalGrand TotalGran...
Zambia                         PopulationPopulationGrand TotalGrand TotalGran...
Zimbabwe                       PopulationPopulationGrand TotalGrand TotalGran...
Name: Item, dtype: object

In [ ]:
data.shape

60943

In [ ]:
data.groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [ ]:
data.groupby('Item')['Y2015'].sum()["Wine"]

4251.81

In [ ]:
data.groupby('Item')['Y2018'].sum()["Wine"]

4039.32

In [ ]:
#Select columns ‘Y2017’ and ‘Area’,
#Perform a groupby operation on ‘Area’.
#Which of these Areas had the 7th lowest sum in 2017?

data.groupby('Area')['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [ ]:
data.groupby('Element')['Y2015'].sum()

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64